.jumbotron{
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  height: 40em;
  padding-top: 10em;
  margin-bottom: 0%;
}
.heading{
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}
.mouse{
  height: 4em;
  padding-top: 2em;
  margin-left: 29%;
  margin-right: auto;
}
.logo{
  height: 10em;
}
.card{
  margin-top: 0%;
  border-radius: 0%;
}
.aboutus{
  text-align: center;
  line-height: 2.5em;
}
.card2{
  margin-top: 0%;
  border-radius: 0%;
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  color: whitesmoke;
}
.services{
  text-align: center;
}
.text{
  margin-top: 5em;
  line-height: 2.5em;
}
.what{
  padding-top: 2em;
  margin-bottom: 7em;
  cursor: pointer;
}
.row{
  text-align: center;
}
.col{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.portfolio{
 margin-bottom: 4em;
}
.About{
  margin-bottom: 3em;
}

.column{
  flex: 25%;
}
.row3{
  flex: 25%;
}
.card3{
  margin-top: 10em;
  border-radius: 0%;
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-size: cover;
  color: whitesmoke;
}


.form{
  background: transparent;
}
::placeholder{
  color: whitesmoke;
  opacity: 2;
}
.contact{
  margin-bottom: 3em;
  color: whitesmoke;
}
#dev{
  display: none;
}
#design{
  display: none;
}
#manage{
  display: none;
}

#port1:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port2:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port3:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port4:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port5:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port6:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port7:hover{
  opacity: 0.3;
  color: whitesmoke;
}
#port8:hover{
  opacity: 0.3;
  color: whitesmoke;
}

#submit{
  color: whitesmoke;
}
.image-grid{
  width: 90%;
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
}
.grid-image{
  display: block;
  padding: 0.5em;
  height: 12em;
}
.icons-grid{
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-icons{
  height: 4em;
  display: block;
  padding: 0.3em;
}
.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7,
.pic8{
  text-align: center;
  position: relative;
}
.gallery1, .gallery2, .gallery3, .gallery4, .gallery5,
.gallery6, .gallery7, .gallery8{
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
}
/*enhancing the website's responsiveness*/
@media screen and (max-width: 1029px) {
  .About {
    margin-bottom: 2em;
  }}
  .card-body{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  body{
    width: 100%;
  }
  form{
    width: fit-content;
  }