.jumbotron{
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-size: cover;
  height: 40em;
  padding-top: 10em;
  margin-bottom: 0%;
}
.heading{
  text-align: center;
  color: whitesmoke;
  font-size: medium;
}
.mouse{
  height: 4em;
  padding-top: 2em;
  margin-left: 29%;
  margin-right: auto;
}
.logo{
  height: 10em;
}
.card{
  height: 20em;
  margin-top: 0%;
  border-radius: 0%;
}
.aboutus{
  text-align: center;
  line-height: 2.5em;
}
.card2{
  height: 20em;
  margin-top: 0%;
  border-radius: 0%;
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-size: cover;
  color: whitesmoke;
}
.services{
  text-align: center;
}
.text{
  margin-top: 5em;
  line-height: 2.5em;
}